*.o
*~
aclocal.m4
autom4te.cache
config
config.h
config.h.in
config.log
config.status
configure
INSTALL
Makefile
Makefile.in
src/.deps
src/git-version.h
src/gmediarender
src/tinyxml2/.deps
src/tinyxml2/.dirstamp
stamp-h1
